/* @font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff")
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensansbold.woff") format("woff")
} */
:root {
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif
}
*, *::before, *::after {
  box-sizing: inherit
}
input, textarea, keygen, select, button {
  font-family: inherit;
  font-size: inherit
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.page-body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  gap: 15px 10px;
  color: #000;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #555977
}

.main {
  grid-area: 2/1/2/13;
  width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  color: #000;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .85)
  /*padding-left: 20px;
  padding-right: 20px;*/
}
.hello-page {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.page-main__paragraph {
  padding-left: 20px;
  padding-right: 20px
}
.page-main__paragraph--disclaimer {
  align-self: center;
  background-color: #555977;
  color: rgba(255, 255, 255, .85);
  margin: 0px 150px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.page-main__blockquote {
  width: 30%
}
.blockquote {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
  background-color: white;
  padding: 10px;
  border: solid 5px white;
  border-radius: 5px;
  color: #000;
  margin-left: auto;
}
.blockquote__cite {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.page-header, .page-footer {
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, .85);
  padding: 0px;
  border-radius: 0 0 5px 5px;
}
.page-header {
  grid-area: 1/1/1/13;
}

.page-footer {
  grid-area: 3/1/3/13;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0 ;
}

.page-header__navigation {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 0px;
}

.menu__label {
  padding: 10px 15px;
  margin: 5px auto;
  border: 2px solid #555977;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 8px #555977;
  text-decoration: none;
  color: #555977;
  font-weight: bold;
  cursor: pointer;
}
.menu__input:checked + .menu__label {
  background-color: #555977;
  color: #fff;
}


                                      /* Новости */
.news-page, .lines-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  flex-grow: 1;
  flex-shrink: 0
}

.news-page__board,
.lines-page__about {
  width: 80%;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .85);
  padding: 20px;
  margin-left: 20px;
}
.news__item {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  /* width: 45%; */
  flex-basis: 33%;
  /* flex-grow: 1; */
  flex-shrink: 0;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px #555977;
  border-radius: 5px;
}
.news__date {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -ms-flex-order: 1;
  order: 1;
  font-weight: bold;
  font-size: 20px;
  color: #555977;
}
.news__author {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  margin-left: auto;
  -ms-flex-order: 2;
  order: 2;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  color: #555977;
}
.news__list {
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.news__announcement {
  -ms-flex-order: 4;
  order: 4
}
                            /* Фильтр новостей */
 .news-page__filter, .lines-page__list {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   background-color: rgba(255, 255, 255, .85);
   /* border: solid 5px rgba(255, 255, 255, .85); */
   border-radius: 5px;
   /* padding: 10px; */
 }
 .news-page__filter, .lines-page__list {
   position: sticky;
   top: 0;
 }
 .filter__label, .line__label {
   width: 100%;
   text-align: left;
   vertical-align: middle;
   cursor: pointer;
   font-weight: bold;
   font-size: 25px;
   line-height: 40px;
   border: solid 2px #555977;
   padding: 0px 5px;
   margin: 7px 0px;
   color: #555977;
   border-radius: 5px;
   box-shadow: 0px 2px 8px #555977;
   background-color: #fff;
 }

 .news-page__filter-container,
 .lines-page__list {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 10px;
  }

  .filter__count {
    font-size: 16px;
    width: 10%;
    margin: 0px;
  }

  .filter__input:checked + .filter__label,
  .line__input:checked + .line__label {
   background-color: #555977;
   color: #fff;
 }

 .page-body__gallery {
   display: flex;
   justify-content: space-around;
 }

                                                            /* ЛИНИИ */
 .lines-page__about,
 .lines-page__line-info {
  flex-direction: column;
}
.lines-page__container {
  background-color: rgba(255, 255, 255, .85);
  padding-left: 0px;
}
.lines-page__all-info {
  width: 100%;
}
.line__label {
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.lines-page__stage-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}
.lines-page__header {
  font-size: 26px;
  text-align: center;
  color: #555977;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
  padding: 0px 20px 20px 20px;
}
.lines-page__stage-info--header {
  width: 20%;
  flex-shrink: 0;
  font-size: 16px;
  margin-right: 20px;
  color: #555977;
}
.lines-page__subheader {
  color: #555977;
}
.lines-page__stage-info--text-container {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .page-main {
      box-sizing: content-box;
      width: 668px;
  }
}
@media (min-width: 1150px) {
  .page-main {
      width: 1050px;
  }
}
