@define-mixin block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: red;
  color: #000;
}
@define-mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@define-mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

@define-mixin inner {
  width: 260px;
  margin: 0 auto;
  @media (min-width: $tablet-width)  {
    box-sizing: content-box;
    width: 668px;
  }
  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}
